$minWidth: 320;

$maxWidth: 1440;

$maxWidthContainer: 0;

$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: $containerWidth;
$tablet: 991.98;
$mobile: 767.98;
$mobileSmall: 479.98;
